button {
  background-color: var(--bg);
  color: var(--text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  transition: background-color 0.2s;
}
button:hover {
  background-color: var(--bg-light);
  cursor: pointer;
}
button:active {
  background-color: var(--bg-lighter);
}
