:root {
  color-scheme: light dark;
  --bg-dark: hsl(0, 0%, 5%);
  --bg: hsl(0, 0%, 10%);
  --bg-light: hsl(0, 0%, 15%);
  --bg-lighter: hsl(0, 0%, 20%);
  --text: hsl(0, 0%, 90%);
  --text-muted: hsl(0, 0%, 75%);
  --border: hsl(0, 0%, 30%);
  --shadow: inset 0 1px 2px hsla(0, 0%, 100%, 0.12),
    0 2px 4px hsla(0, 0%, 0%, 0.5), 0 4px 8px hsla(0, 0%, 0%, 0.3);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-dark: hsl(0, 0%, 87%);
    --bg: hsl(0, 0%, 92%);
    --bg-light: hsl(0, 0%, 97%);
    --bg-lighter: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 10%);
    --text-muted: hsl(0, 0%, 25%);
    --border: hsl(0, 0%, 70%);
    --shadow: inset 0 1px 0px hsla(0, 0%, 0%, 0.1),
      0 2px 4px hsla(0, 0%, 0%, 0.12), 0 4px 8px hsla(0, 0%, 0%, 0.06);
  }
}

body {
  background-color: var(--bg-dark);
  color: var(--text);
}
